<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.reader.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.reader.LibraryActivity"
            android:label="@string/title_activity_library" >
        </activity>
        <activity
            android:name="com.example.reader.ReaderActivity"
            android:label="@string/title_activity_reader" 
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.example.reader.PresentationModule"
            android:label="@string/title_presentation_module" >
        </activity>
        <activity android:name="com.example.reader.AddToLibraryExplorerActivity"
            android:label="@string/title_activity_add_to_device_explorer" >
        </activity>
        <activity android:name="com.example.reader.AddToLibraryORBActivity"
            android:label="@string/title_activity_add_to_device_orb" >
        </activity>
        <activity
            android:name="com.example.reader.ReaderSettingsActivity"
            android:label="@string/title_reader_settings" 
           >
        </activity>
        
        <activity
            android:name="com.example.reader.popups.SearchActivity"
            android:label="@string/title_activity_search" 
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
         <activity
            android:name="com.example.reader.popups.ModeActivity"
            android:label="@string/title_activity_mode" 
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar">
        </activity>
        <activity
            android:name="com.example.reader.popups.RenameActivity"
            android:label="@string/title_activity_rename" 
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar">
        </activity>
        
        
        
    </application>

</manifest>
