<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    
	<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.reader.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.reader.LibraryActivity"
            android:label="@string/title_activity_library" >
        </activity>
        <activity
            android:name="com.example.reader.ReaderActivity"
            android:label="@string/title_activity_reader" >
        </activity>
        <activity
            android:name="com.example.reader.PresentationModule"
            android:label="@string/title_Presentation_Module" >
        </activity>
        <activity
            android:name="com.example.reader.SearchActivity"
            android:label="@string/title_activity_search" 
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
         <activity
            android:name="com.example.reader.ModeActivity"
            android:label="@string/title_activity_mode" 
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar">
        </activity>
        <activity  android:name="com.example.reader.AddToLibrary"
            android:label="@string/title_activity_add_to_device" >
        </activity>
    </application>

</manifest>
