@font-face{	
	font-family:'Open_Dyslexic_Bold';
	font-weight:normal;
	font-style:normal;
	src:url('file:///android_asset/custom-fonts/Open_Dyslexic_Bold.otf') format('opentype');
}

@font-face{	
	font-family:'Open_Dyslexic_Regular';
	font-weight:normal;
	font-style:normal;
	src:url('file:///android_asset/custom-fonts/Open_Dyslexic_Regular.otf') format('opentype');
}

@font-face{
	font-family:sans-serif;
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:serif;
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:monospace;
	font-weight:normal;
	font-style:normal;
}